.header {
  border-bottom: 3px solid red;
  border-top: 3px solid red;
  cursor: pointer;
  color: white;
}
.header .logo {
  width: 80px;
  border-radius: 10px;
}
.header li, .header a {
  margin: 0px 7px;
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: larger;
}
.header nav {
  display: flex;
  align-content: space-between;
}

footer {
  color: white;
}

.main {
  border-bottom: 3px solid red;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  color: white;
  margin-bottom: 40px;
  padding: 5px 0px;
  background-image: url(../img/fondo3db.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-attachment: fixed;
}

.main2 {
  background-color: white;
  border-bottom: 3px solid red;
  cursor: pointer;
  color: black;
  margin-bottom: 40px;
  margin: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.main2 h1 {
  font-size: 3rem;
}

.img {
  width: 900px;
  height: 600px;
  align-items: center;
  justify-content: center;
}

.titulo {
  text-align: center;
  color: white;
  font-size: xx-large;
  margin-top: 30px;
}

.titulo1 {
  text-align: center;
  color: black;
  font-size: xx-large;
  margin-top: 30px;
  margin-bottom: 15px;
}

.tituloGrande {
  text-align: center;
  font-size: xx-large;
  color: black;
  padding: 15px;
}

.tituloGrande1 {
  text-align: center;
  font-size: 60px;
  color: white;
  margin: auto;
}

.texto {
  text-align: center;
  color: white;
  font-size: 20px;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 40px;
  max-width: 1300px;
  margin: auto;
}

.texto1 {
  text-align: center;
  color: white;
  font-size: 2rem;
  justify-content: center;
  margin: auto;
}

.texto2 {
  margin-top: 10px;
  margin-bottom: 65px;
  text-align: center;
  color: black;
  font-size: 20px;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
}

.texto3 {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  color: black;
  font-size: 35px;
  max-width: 1000px;
  margin: auto;
  justify-content: center;
}

.cuadro {
  border: 2px solid white;
  border-radius: 8px;
}

.preguntas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 32px;
}
.preguntas .preguntaFrecuente {
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  padding: 3px;
  border: 2px solid red;
}

.card {
  border-radius: 8px;
  width: 24rem;
  height: auto;
  margin-right: 15px;
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid red;
  background-color: black;
  color: white;
}

.imgCard {
  width: 100%;
  max-width: 23rem;
  height: 23rem;
  border: 2px solid red;
  padding: auto;
}

.mapeado {
  padding: 15px;
  align-items: center;
  justify-content: center;
}

.mapa {
  width: 100%;
  max-width: 100%;
  height: 350px;
  max-height: 100%;
  margin-top: 5px;
  align-items: center;
  text-align: center;
  justify-content: center;
  object-position: center;
  margin-bottom: 35px;
  border: 3px solid red;
  border-radius: 10px;
  margin: auto;
  padding-left: 270px;
  padding-right: 270px;
}

.iframe {
  border: 3px solid red;
}

.listaClientes {
  color: black;
  font-size: larger;
  text-align: start;
  margin-top: 0px;
  border: 2px solid white;
  margin: auto;
}

.imgClientes {
  width: 100%;
  max-width: 45%;
  margin: auto;
  margin-bottom: 5rem;
}

.nuestrosClientes {
  display: flex;
  gap: 3rem;
  text-align: left;
}

.proceso {
  margin: 0 auto;
  width: 50%;
}

.formulario {
  border: 5px solid red;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  width: 75%;
  color: black;
}

.listado {
  border: 6px black;
  border-radius: 10px;
  margin-top: 79px;
}

.lista {
  border: 2px solid black;
  border-radius: 8px;
  color: red;
  margin-bottom: 5px;
  margin-top: 5px;
  justify-content: space-between;
  background-color: red;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  gap: 1rem;
  color: black;
}

.btn {
  color: black;
  border: 3px solid red;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

.btnArriba {
  color: white;
  width: 1rem;
  height: 1rem;
}

/*# sourceMappingURL=estilo.css.map */
