.header {
    border-bottom: 3px solid red;
    border-top: 3px solid red;
    cursor: pointer;
    color: white;

    .logo {
        width: 80px;
        border-radius: 10px
    }

    li,a {
    margin: 0px 7px;
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: larger;
}

    nav {
    display: flex;
    align-content: space-between;
}
}